asgiref==3.4.1
Django==4.0
Pillow==8.4.0
sqlparse==0.4.2
tzdata==2021.5
django-environ
requests~=2.27.1
cryptography~=36.0.1
defusedxml~=0.7.1
cffi~=1.15.0
pip~=21.3.1
setuptools~=49.2.1
certifi~=2021.10.8
environ~=1.0
oauthlib~=3.1.1
idna~=3.3
urllib3~=1.26.8
pycparser~=2.21
PyJWT~=2.3.0
psycopg2-binary